/* || General Styles */
*, 
*::before,
*::after {
    margin: 0;
    padding: 0;
}

:root {
    --clr-white: hsl(0, 0%, 100%);
    --clr-primary: hsl(25, 97%, 53%);
    --clr-light-grey: hsl(217, 12%, 63%);
    --clr-medium-grey: hsl(216, 12%, 54%);
    --clr-dark-blue: hsl(213, 19%, 18%);
    --clr-very-dark-blue: hsl(216, 12%, 8%);
    --clr-shaded-dark-blue: hsl(213, 19%, 23%);
}

body {
    font-size: 15px;
    font-family: 'Overpass', monospace;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--clr-very-dark-blue);
}

footer {
    color: var(--clr-white);
    position: absolute;
    bottom: 2%;
}

footer a {
    color: var(--clr-primary);
    text-decoration: none;
}

footer a:hover {
    color: var(--clr-white);
}

/* || Ratings Styles */
.rating {
    max-width: 375px;
    background-color: var(--clr-dark-blue);
    border-radius: 1rem;
    padding: 1rem;
    margin: 0 1.5rem;
}

.rating__star {
    background-color: var(--clr-shaded-dark-blue);
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    padding: 1rem;
}

.rating h1 {
    color: var(--clr-white);
    margin: 1rem 0;
}

.rating p {
    color: var(--clr-medium-grey);
    line-height: 1.5;
}


.ratings__select {
    width: 100%;
    padding-left: 0;
    display: flex;
    justify-content: space-between;
    margin: 2rem 0 1rem 0;
}

.ratings__select label {
    list-style: none;
    color: var(--clr-medium-grey);
    background-color: var(--clr-shaded-dark-blue);
    border-radius: 50%;
    padding: 0.8rem 1.2rem;
}

.ratings__select label:hover {
    background-color: var(--clr-primary);
    color: var(--clr-white);
    cursor: pointer;
    transition: 0.3s;
}

.ratings__option:checked + .ratings__label {
    background-color: var(--clr-light-grey);
    color: var(--clr-white);
}

.ratings__select input {
    display: none;
}

.ratings__btn {
    width: 100%;
    height: 3rem;
    background-color: var(--clr-primary);
    color: var(--clr-white);
    border-radius: 3rem;
    letter-spacing: 0.1rem;
    border: none;
    margin: 0.5rem 0 1rem 0;
}

.ratings__btn:hover {
    background-color: var(--clr-white);
    color: var(--clr-primary);
    cursor: pointer;
    transition: 0.3s;
}

.thanks {
    display: none;
    flex-direction: column;
    align-items: center;
    max-width: 375px;
    background-color: var(--clr-dark-blue);
    border-radius: 1rem;
    padding: 1rem;
    margin: 0 1.5rem;
}

.thanks p {
    color: var(--clr-medium-grey);
    line-height: 1.5;
    text-align: center;
    padding-bottom: 1.5rem;
}

.thanks__img {
    margin: 1rem 0;
}

.thanks__rating p {
    color: var(--clr-primary);
    background-color: var(--clr-shaded-dark-blue);
    padding: 0.7rem 1rem 0.3rem 1rem;
    border-radius: 2rem;
    margin: 1rem 0;
}

.thanks h2 {
    color: var(--clr-white);
    text-align: center;
    margin: 1rem;
}

